
.white-70 {
    color: rgba(246, 246, 246, 0.7);
}

.wrapper-project-detail {
    max-width: 1438px;
    margin: 162px auto 0;
    height: 100vh;
}

.overflow {
    overflow-y: scroll;
}

.container-top {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.container-bottom {
    padding-bottom: 56px;
}

.label-projects-detail {
    width: 52.805px;
}

.image-showcase {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 644px;
    height: 363px;
}

.hide-scrollbar {
  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.button-back-projects-detail {
    position: absolute;
    top: 97px;
    left: 145px;
}

.button-back-projects-detail:hover {
    color: #66D593;
}