/* background color: #0E0F0E */
/* 
Macbook pro: 1728px x 1117px2
Ipad 12: 1024px x 1366px
Iphone: 402px x 873px 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi.woff2") format("woff2");
    font-weight: normal;
}

@media (max-width: 1728px) {
    body{
        background-image: url("./assets/Background_Desktop.png");
    }
}

@media (max-width: 1024px) {
    body{
        background-image: url("./assets/Background_Ipad.png");
    }
}

@media (max-width: 402px) {
    body{
        background-image: url("./assets/Background_Iphone.png");
    }
}

body{
    background-color: #0E0F0E;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: JetBrains Mono;
    font-weight: bold;
    color: #f6f6f6;
}

h3, .text-bio-bold{
    font-family: JetBrains Mono;
    font-weight: 500;
    color: #f6f6f6;
}

h2 {
    font-family: JetBrains Mono;
    font-weight: normal;
    color: #66d593;
}

p {
    font-family: Satoshi;
}

.content-pane {
    margin-left: 291px;
    margin-top: 112px;

    height: 1002px;
    max-width: 709px;
}

.text-bio div {
    animation: typing 3s steps(50) forwards;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
